@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: normal;
}

*:focus {
    outline: none;
}

body {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    background: #F5F5FA;
    display: flex;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

aside {
    background: white;
    flex-basis: 20%;
    height: 100%;
    padding: 30px;
}

main {
    flex-basis: 80%;
    padding: 0 42px;
    height: 100vh;
}

.error {
    padding: 25px 50px;
    color: red;
}

header {
    display: flex;
    justify-content: space-between;
}

button {
    width: 30%;
    height: 57px;
    background: white;
    margin: 54px 0 33px;
    cursor: pointer;
    border: none;
    border-radius: 10px;

    color: #8181A5;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.container {
    padding: 0 10%;
}

@media screen and (max-width: 1750px) {
    .container {
        padding: 0 5%;
    }
}

@media screen and (max-width: 1600px) {
    .container {
        padding: 0 2%;
    }
}

.hidden {
    display: none;
}

.center {
    margin: 0 auto;
}

main.center {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.logo__img {
    cursor: pointer;
}

h4 {
    text-align: center;
    margin-bottom: 32px;
}

form > .input__wrapper {
    margin-bottom: 32px;
}

form > .input__wrapper > label {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

form > .input__wrapper > input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #E2E4E5;
    padding: 8px 16px;
}

.add-film {
    margin-bottom: 300px;
}

.wrapper {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 10px;
    padding-top: 38px;
    overflow-y: auto;
}

.wrapper__header {
    height: 48px;
    background: rgba(245, 245, 250, 0.4);
    color: #8181A5;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 9px;
}

.format_table {
    display: grid;
    grid-template-columns: 20px 1fr 15% 15% 1fr 15%;
    padding: 0 2%;
    text-align: center;
    align-items: center;
}

.wrapper__body {
    display: flex;
    flex-direction: column;
}

.row {
    /* display: flex; */
    font-weight: 400;
    font-size: 14px;
    line-height: 2.1px;
    padding: 5px 0 5px 2%;
}

.row:hover {
    background: rgba(245, 245, 250, 0.4);
}

.row:hover > .row_delete-btn > .btn__link {
    display: block;
}

.row_actors {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 50px;
    text-align: left;
    align-items: center;
    justify-content: center;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    /* text-align: left; */
}

.row_actors:hover {
    /* overflow: auto; */
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
    min-height: 50px;
    height: auto;
    /*padding: 5px 0;*/
}

.btn {
    width: 98px;
    padding: 10px 22px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 auto;
}

.btn-delete {
    background: linear-gradient(0deg, rgba(255, 128, 139, 0.1), rgba(255, 128, 139, 0.1)), #FFFFFF;
    color: #FF808B;
}

.btn-delete:hover {
    background: linear-gradient(0deg, rgba(255, 128, 139, 0.3), rgba(255, 128, 139, 0.3)), #FFFFFF;
    color: #fa606d;
}

.btn__link {
    display: none;
}

.btn-submit {
    display: block;
    width: 195px;
    height: 48px;
    background: linear-gradient(0deg, rgba(94, 129, 244, 0.1), rgba(94, 129, 244, 0.1)), #FFFFFF;
    border-radius: 8px;
    color: #5E81F4;
    border: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 auto;
    transition: transform .4s ease;
}

.btn-back {
    width: auto;
    margin-bottom: 50px;
    background: linear-gradient(0deg, rgba(94, 129, 244, 0.1), rgba(94, 129, 244, 0.1)), #FFFFFF;
    transition: transform .4s ease;
}

.btn-back:hover, .btn-submit:hover {
    transform: scale(1.2);
    box-shadow: 0 1px 5px -3px rgba(34, 60, 80, 0.6);
}

#import-file {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

form {
    position: relative;
    height: 100%;
}

.import__file-button {
    display: flex;
    align-items: center;
    padding: 0 35px 0 25px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    justify-content: space-between;
}

.icon-wrapper {
    position: absolute;
    height: 36px;
    width: 36px;
    background: rgba(130, 130, 166, 0.1);
    border-radius: 6px;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.icon-wrapper > img {
    position: absolute;
    width: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type='text'] {
    font-family: inherit;
    background: transparent;
    font-size: 18px;
    color: #8181A5;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0 35px 0 25px;
}

input[type='text']::placeholder {
    font-family: inherit;
    font-size: 18px;
    color: #8181A5;
    padding-left: 2%;
}

select {
    width: 100%;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    border-bottom: 1px solid #E2E4E5;
    padding-bottom: 7px;
}

.search {
    position: relative;
}

.search__results {
    display: none;
    position: absolute;
    top: 95%;
    width: 100%;
    max-height: 250px;
    background: white;
    padding: 10% 0;
    box-shadow: 0px 1px 5px -3px rgba(34, 60, 80, 0.6) inset;
    overflow-y: auto;
    overflow-x: hidden;
}

.search__results > p {
    padding: 5px;
}

.search__results > p:hover {
    background: #8181A5;
    color: white;
}

.aside__footer {
    text-align: center;
}

.film {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    background: #fff;
    padding: 2% 5%;
    border-radius: 8px;
    width: 50%;
    margin: 0 auto;
    color: #8181A5;
}

.film > div {
    padding: 10px 0;
}

.film:nth-child(1n) {
    align-items: center;
    font-weight: 700;
    /*padding-left: 5%;*/
}

.film:nth-child(2n) {
    font-weight: normal;
    /*padding-right: 5%;*/
}

.wrapper__header_title {
    position: relative;
    cursor: pointer;
}

.wrapper__header_title::after {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    left: 110%;
    content: url("/public/arrows.svg");
    height: 16px;
    width: 16px;
}


/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}